nav li{
    list-style: none;
    margin-right: 10px;
}
nav li a{
    text-decoration: none;
    color:darkred;
    font-size: 20px;
    padding:0px 10px ;
}
nav ul{
    display: flex;
}
nav li:hover{
    background-color: gold;
}
h1{
margin: 50px;
}
